.headerTop {
    background-color: #1d5193;
    /* height: 50px; */
    color: #fff;
    /* text-align: center; */
    vertical-align: middle;
  }
.title{
  font-size: 30px;
  padding: 10px;
  align-items: center;
}
.documentOption{
  text-align: center;
}
.showToast{
  position: fixed;
  right: 10px;
  bottom: 10px;
  width: 200px;
}
.showToastCopy{
  margin-right: 10px;
  background-color: #536452;
  color: #fff;
  font-weight: 400;
}
.showToastDict{
  margin-right: 10px;
  background-color: #536452;
  color: #fff;
  font-weight: 400;
}
.content {
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: 0px 3px 6px 0px rgba(181,181,181,1);
  -moz-box-shadow: 0px 3px 6px 0px rgba(181,181,181,1);
  box-shadow: 0px 3px 6px 0px rgba(181,181,181,1);
}
.buttonExchange{
  background-color: #fff;
  color: #000;
  border: none;
  border-radius: 50%;
  padding: 8px 8px;
  line-height: 8px;
}
.buttonExchange:hover{
  background-color: #eee;
  border-radius: 50%;
  padding: 8px 8px;
  line-height: 8px;
}
.buttonExchange:active{
  background-color: #ccc;
}
.boxTranslate{
}

.btn:focus{
  outline: none;
}

.from_language {
  resize: none;
  border: none;
  float: left;
  width: 100%;
  /* min-height: 100px; */
  padding: 0 10px;
  overflow: auto;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  overflow: hidden;
  font-size: 24px;
}
.to_language {
  resize: none;
  border-width: none;
  border: none;
  float: left;
  width: 100%;
  height: 100%;
  padding: 0 10px;
  overflow: auto;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.buttonUtility{
  background-color: #fff;
  color: #000;
  border: none;
  border-radius: 50%;
  padding: 8px 8px;
  line-height: 8px;
}
.buttonUtility:hover{
  background-color: #eee;
  border-radius: 50%;
  padding: 8px 8px;
  line-height: 8px;
}
.buttonUtility:active{
  background-color: #ccc;
}
.resultTranslate_bandich{
  font-size: 30px;
  color: rgb(167, 167, 167);
}
.resultTranslate_dadich{
  font-size: 24px;
  word-wrap: break-word;
}

.activeChoose{
  border-width: 0;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  border-bottom: 2px solid #1d5193;
  background-color: #fff;
  color: #1d5193;
  font-weight: bold;
}

.normal{
  border-width: 0;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  border-bottom: 2px solid #fff;
  background-color: #fff;
  color: rgb(121, 121, 121) !important;
  font-weight: bold;
}